<%# Write your code here! %>
 <!DOCTYPE html>
 <html>
 <head>
 <title></title>
 </head>

 <body>
 <h1>Welcome!</h1>
 <form action= "/" method= "post">
 First name: <input type="text" name="user_name" placeholder= "enter username">
 <button name="Submit" type="submit">Submit</button>
 </form>  
 </body>

 </html> 
